.DS_store
.config.json
.dist
.jshintignore
.npm
.project
.sessions.json
.settings
.tern-project
*.backup
*_cred*
coverage
credentials.json
flows*.json
locales/zz-ZZ
nodes/core/locales/zz-ZZ
workflow-log
calling workflows
node_modules
.brackets.json
